{
    "semi": true,
    "singleQuote": false,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 100,
    "plugins": ["prettier-plugin-tailwindcss", "@prettier/plugin-php"],
    "tailwindFunctions": ["clsx", "cn", "cva"],
    "tailwindStylesheet": "resources/css/app.css",
    "tabWidth": 4,
    "overrides": [
        {
            "files": "**/*.php",
            "options": {
                "singleQuote": true
            }
        },
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
